/* Resetowanie marginesu, paddingu i modelu pudełkowego dla wszystkich elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.section-up {    
    display: flex;
    height: 40px;
    justify-content:flex-start; 
    text-align: center;
}

.lenovo-logo-img {
    height: 40px;
}

.section-up-btn {        
    background-color: white;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}

.search-bar {
    align-items: center;
    border: 1px solid #777;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
}

.search-input {
    min-width: 300px;
    border: none;
}

.search-button {
    border: none;
    background-color: white;
    padding-right: 5px;
}

.search-button-img {    
    height: 18px;
    border: none;
}

.section-middle {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    font-size: 100px;
    height: 38px;
    justify-content: flex-end;
    height: 30px;
}

.section-middle-btn,
.section-middle-btn-bor {
    align-items: center;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    text-align: center;
    margin: 5px;
}

.section-middle-btn-bor {
    border-right: 2px solid  #333;
    border-left: 2px solid  #333;
}

.section-middle-text {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.icons-location,
.icons-contact,
.icons-user-profile {
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.section-bottom {  
    background-color: #f2f2f2; 
    display: flex;    
    height: 34px;
    justify-content: center;
}

.section-bottom-btn {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;    
    justify-content: center;
    padding: 5px 12px;
}

.section-bottom-icons {
    height: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.background-photo-legion {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.background-photo-text{
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    left: 10%;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 40%;
    z-index: 10;
}

.background-photo-name {
    height: 100px;
}