/* Resetowanie marginesu, paddingu i modelu pudełkowego dla wszystkich elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.section-up {    
    display: flex;
    height: 40px;
    justify-content:flex-start; 
    text-align: center;
}

.lenovo-logo-img {
    height: 40px;
}

.section-up-btn {        
    background-color: white;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}

.search-bar {
    align-items: center;
    border: 1px solid #777;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
}

.search-input {
    min-width: 300px;
    border: none;
}

.search-button {
    border: none;
    background-color: white;
    padding-right: 5px;
}

.search-button-img {    
    height: 18px;
    border: none;
}

.section-middle {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    font-size: 100px;
    height: 38px;
    justify-content: flex-end;
    height: 30px;
}

.section-middle-btn,
.section-middle-btn-bor {
    align-items: center;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    text-align: center;
    margin: 5px;
}

.section-middle-btn-bor {
    border-right: 2px solid  #333;
    border-left: 2px solid  #333;
}

.section-middle-text {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.icons-location,
.icons-contact,
.icons-user-profile {
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.section-bottom {  
    background-color: #f2f2f2; 
    display: flex;    
    height: 34px;
    justify-content: center;
}

.section-bottom-btn {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;    
    justify-content: center;
    padding: 5px 12px;
}

.section-bottom-icons {
    height: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.background-photo {
    position: relative;
    overflow: hidden;
}

.background-photo-legion {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.background-photo-text{
    display: flex;
    flex-direction: column;    
    left: 10%;
    position: absolute;
    
    text-align: left;
    top: 40%;
    width: 40%;
    z-index: 10;
}

.background-up {
    display: inline-block;
}
.background-photo-name {
    height: 100px;

}


.background-btn {
    
    justify-content:space-between; 
    text-align: center;
}

.background-middle {
    background-color: rgba(62, 141, 221);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 17px 17px;
    margin: 30px 0px 30px 0px;
    text-align: center;
    width: 300px;
}

.background-middle:hover,
.background-bottom:hover {
    background-color: rgb(115, 160, 252);
    transition: background-color 0.3s ease-in-out;
}

.background-bottom {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #3e8ddd;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 15px;
    width: 240px;
}

.nav-bar-content {
    background-color: #3e8ddd;
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.nav-bar-btn {
    background-color: #3e8ddd;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin: 32px;
    transition: background-color 0.4s ease-in-out;
}

.nav-bar-btn:hover {
    transform: scale(1.05);
}

.content-part-one {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-photo-2 {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-content-part-one {
    color: white;
    left: 50%;
    opacity: 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 15%;
    transition: opacity 3s ease, transform 3s ease;
    transform: translate(-50%, -50%);
    width: 60%;
}

.tex-heading {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 14px;
}

.content-slider-one,
.content-slider-two {
    position: relative; 
}

.content-slider-photo,
.content-slider-photo-two {
    max-width: 100%;
    height: auto;
}

.slider-one,
.slider-two {
    display: flex;
    flex-direction: column;    
    left: 5%;
    position: absolute;
    text-align: left;
    top: 10%;
    width: 25%;
    z-index: 10;
}

.slider-title-color,
.slider-title-color-two {
    color:  #F0C7BF;
    font-size: 30px;
    margin-top: 20px;
}

.slider-title-white,
.slider-title-white-two {
    color: white;
    font-size: 26px;
    margin-top: 20px;
}

.slider-text,
.slider-text-two {
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.slider-text-cd {
    color: white;
    font-size: 12px;
    margin-top: 20px;
}


.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}
  
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
  
.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  
.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}
  
.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
  
.carousel-button:focus {
    outline: 1px solid black;
}
  
.carousel-button.prev {
    left: 1rem;
}
  
.carousel-button.next {
    right: 1rem;
}